@import "./base/fonts.scss";
@import "./base/colors.scss";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  // overflow-x: hidden;
  #main {
    font-family: "Fredoka", "Noto Sans JP", sans-serif;
    @include justifyCenter;
    background-color: $themeColor;

    width: 100%;
  }
  .footer {
    @include justifyCenter;
    flex-direction: column;
    background-color: $themeColor;
  }
}
