:root {
  --font-sans: "metropolis", sans-serif;
  --font-serif: "Lora", "georgia", serif;

  /* Typography */
  --font-size-base: 16px;
  --font-size-l: 18px;
  --font-size-s: 14px;
  --font-size-xs: 13px;
  --font-size-xxs: 12px;
  --line-height-base: 27px;
  --line-height-s: 18px;

  /* Layout */
  --max-width: 1350px;
  --max-bg-color: 1570px;
  --sp: 18px;
  --content-left: 90px;
  --container-padding: var(--sp);
  --container-padding-nav: var(--sp2);
  --site-header-height-wide: var(--sp10);

  /* Layout helpers */
  --theme--Color: #050e23;
  --color--black: #000; /* Black */
  --color--gray-0: #0d1214; /* Black 1 */
  --color--gray-5: #0c0d0e;
  --color--gray-8: #171e23;
  --color--gray-10: #313637; /* Black 2 */
  --color--gray-20: #6e7172; /* Black 3 */
  --color--gray-25: #5d7585; /* Gray Dark */
  --color--gray-28: #7d919d; /* Gray Dark 2 */
  --color--gray-30: #7e96a7; /* Gray medium */
  --color--gray-40: #98abb9; /* Gray medium 1 */
  --color--gray-45: #afb8be; /* Gray medium 2 */
  --color--gray-50: #9ea0a1; /* Black 4 */
  --color--gray-70: #d7e1e8; /* Gray light */
  --color--gray-75: #e3e3e5;
  --color--gray-80: #e7edf1; /* Gray light 1 */
  --color--gray-90: #f1f4f7;
  --color--gray-95: #f7f9fa; /* Gray light 2 */
  --color--blue-10: #0f6292;
  --color--blue-20: #0d77b5; /* Blue dark */
  --color--blue-30: #3d92c4; /* Blue dark 2 */
  --color--blue-50: #2494db; /* Blue medium */
  --color--blue-70: #53b0eb; /* Blue bright */
  --color--blue-90: #ddeffb; /* Blue bright 5 */
  --color--white: #fff; /* White */
  --color--red: #e33f1e; /* Red */
  --color--gold: #fdca40; /* Gold */
  --color--green: #3fa21c; /* Green */

  /* Header */
  --header-height-wide-when-fixed: calc(6 * var(--sp));

  /* Width of slide out navigation */
  --mobile-nav-width: 500px;

  /* Border radius */
  --border-radius: 3px;
}
