{% set layout = layout ? 'layout--' ~ layout|clean_class %}

{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    layout ? 'grid-full',
    layout ? 'ie11-autorow',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}

<div{{content_attributes.addClass('node__content',layout)}}>
	{{ content|without('comment') }}
	{% if content.comment %}
		<div id="comments" class="{{ layout }}">
			{{ content.comment }}
		</div>
	{% endif %}
</div>
