{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}

{# {{ kint() }} #}

{% block content %}
	<div{{content_attributes.addClass(classes)}}>
		{{ attach_library('lelohex/productscommerce-css') }}
		{{ content }}
	</div>
{% endblock %}
