{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}


{# {{kint()}} #}
{% block content %}
	<div class="lelohex-perks">
		{{ attach_library('lelohex/contentbelow-css') }}
		<div class="title">
			{{ content.field_title}}
		</div>
			{{ content.field_perks_reference }}	
	</div>
{% endblock %}
