{%
  set classes = [
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    layout ? 'layout--' ~ layout|clean_class,
  ]
%}


<div{{attributes.addClass(classes)}}>
	{# {% elseif app.request.uri == '/home-page' %} #}
	{# {{ attach_library('lelohex/homepagevideo-css') }}
				 {% elseif app.request.uri == '/hex-original' %} #}
	{{ attach_library('lelohex/productsvideo-css') }}
	{# {% endif %}  #}
		{% block content %}
	{{ content.field_video }}
{% endblock %}</div>
