@import "../base/colors.scss";
@import "../base/mixins.scss";
@import "../base/fonts.scss";

.condomSchemeContent {
  display: flex;
  padding: 3rem;
  .wide-image {
    @include justifyCenter;
  }
  .textArea {
    width: 100%;
    .field-list-reference {
      @include JustifyColumnBetween;
      height: 100%;
      .field__item {
        width: 100%;
        display: flex;
        color: $white;
      }
      div.field__item > :nth-child(1) {
        @include justifyCenter;
        width: 12.5%;
        border-right: 3px solid $white;
        .image {
          .field-list-image {
            img {
              width: 60px;
              border: none;
            }
          }
        }
      }
      div.field__item > :nth-child(2) {
        width: 75%;
        padding-left: 1rem;
      }
    }
  }
}
