@import "../base/colors.scss";
@import "../base/mixins.scss";
@import "../base/fonts.scss";

.block-inline-blockmainblock {
  max-width: 100%;

  position: relative;

  .wide-image {
    max-width: 100%;
    @include fieldImage;
  }
  .contents {
    @include contentContainer;
    @include AlignColumnStart;
    .field_title {
      font-size: 2rem;
      @include text;
    }
    .field_sb {
      @include text;
      @include fieldSubtitle;
      max-width: $boxWidth;
    }
    .field--type-text-with-summary {
      font-size: 1.2rem;
      @include text;
      letter-spacing: 3px;
      max-width: $boxWidth;
      p {
        text-align: justify;
      }
    }
    .field_specifications {
      font-size: 1.2rem;
      @include text;
      letter-spacing: 3px;
      max-width: $boxWidth;
    }
  }
}
.block-inline-blocksecondary-blocks {
  width: 100%;
  position: relative;
  .wide-image {
    @include fieldImage;
  }
  .content-secondary {
    @include contentContainer;
    @include AlignColumnStart;
    flex-direction: column;
    .field_titleSecondary {
      font-size: 2rem;
      @include text;
    }
    .field_sbSecondary {
      @include text;
      @include fieldSubtitle;
      max-width: $boxWidth;
    }
    .field-button-secondary {
      @include button;
      a {
        color: $white;
        text-decoration: none;
        @include text;
      }
    }
  }
}
.block-inline-blockvideo-block {
  max-width: 100%;
  .field-video {
    height: 100vh;
    border-top: 17.5px solid $themeColor;
    border-bottom: 17.5px solid $themeColor;
    .youtube-container {
      height: 100%;
      margin: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
