@import "../base/colors.scss";
@import "../base/mixins.scss";
@import "../base/fonts.scss";

#main {
  width: 100vw;
  background-color: $themeColor;
  font-family: "Fredoka";
  .node__content {
    .layout__region--content {
      position: relative;
      .wide-image {
        width: 100vw;
        margin: 0;
      }
      .text-content {
      }
      .field-title-main {
        font-size: 2.4rem;
        @include text;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }
}
