@import "../base/colors.scss";
@import "../base/mixins.scss";

.block-inline-blockvideo-block {
  max-width: 100%;
  .field-video {
    height: 100vh;
    border-top: 17.5px solid $themeColor;
    border-bottom: 17.5px solid $themeColor;
    .youtube-container {
      height: 100%;
      margin: 0;
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
}
