@import "../base/mixins";
@import "../base/colors.scss";

.header-nav {
  width: 100vw;
  background-color: $themeColor;
  ul {
    width: 100%;
    @include justifyBetween;
    li {
      a {
        .primary-nav__menu-link-inner {
          @include text;
          font-size: 1.2rem;
          &:hover {
            border-top: none;
          }
        }
      }
      button {
        span {
          color: $submenu;
          border: none;
        }
      }
      .primary-nav__menu-🥕 {
        display: none;
      }
      #primary-menu-item-1,
      #primary-menu-item-12 {
        background-color: $submenu;
        overflow: hidden;
        border-top: none;
        padding: 5px;
      }
    }
  }
}
