@import "../base/mixins";
@import "../base/colors.scss";

.header-nav {
  width: 100%;
  background-color: $themeColor;

  ul {
    width: 100%;
    @include justifyAround;
    // .primary-nav__menu-item--1 {
    //   button {
    //     display: none;
    //   }
    // }
    li {
      position: relative;
      list-style-type: none;
      a {
        text-decoration: none;
        .primary-nav__menu-link-inner {
          @include text;
          font-size: 1.2rem;
          &:hover {
            border-top: none;
          }
        }
      }
      button {
        display: none;
      }
      .primary-nav__menu-span {
        display: none;
      }
      .unorderedList {
        margin: 0;
        position: absolute;
        background-color: $submenu;
        width: fit-content;
        display: flex;
        li {
          padding: 5px;
        }
      }
    }
  }
}
