@import "../base/mixins.scss";
@import "../base/colors.scss";
@import "../base/fonts.scss";

.layout--twocol-section--50-50 {
  background-color: $white;
  height: 100vh;

  .block-field-blockcommerce-productdefaultfield-product-image {
    height: 100%;
    .field-product-image {
      height: 100%;
      @include justifyCenter;
      img {
        width: 40%;
        height: 40%;
      }
    }
  }
  .layout__region--second {
    padding: 5rem;
    @include JustifyColumnBetween;
    .commerceTitle {
      .field_title {
        font-size: 2.4rem;
        letter-spacing: 5.6px;
      }
    }
    .field--type-text-with-summary {
      p {
        padding-right: 10rem;
        color: $themeColor;
      }
    }
    .block-layout-builder {
      width: 100%;
      form {
        width: 100%;
        padding-right: 10rem;
        @include justifyBetween;
        flex-wrap: wrap;
        label {
          display: none;
        }
        .field--type-entity-reference {
          width: 75%;
          select {
            width: 100%;
            border: 3px solid black;
            outline: none;
            font-size: 1vw;
            font-weight: 900;
            height: 4rem;
          }
        }
        .field--type-decimal {
          width: 20%;
          .js-form-item {
            input {
              width: 100%;
              border: 3px solid black;
              outline: none;
              font-size: 1vw;
              font-weight: 900;
              height: 4rem;
            }
          }
        }
        .button--add-to-cart {
          @include button;
          background-color: #e34f39;
          border: none;
          outline: none;
        }
      }
    }
  }
}
