@import "../base/mixins.scss";
@import "../base/colors.scss";

.layout__region--content {
  width: 100%;
  .block-inline-blockproducts-first {
    @include justifyCenter;
    position: relative;
    margin-bottom: 45px;

    .wide-image {
      margin: 0;
      width: calc(100vw - 70px);
    }
    .content-products {
      @include contentContainer;
      @include AlignColumnStart;
      flex-direction: column;
      .field-products-title {
        font-size: 6.5vw;
        @include text;
        line-height: 6.5vw;
        white-space: pre-wrap;
        word-wrap: break-word;
        max-width: 690px;
        margin-bottom: 10rem;
      }
      .field-products-sb {
        @include text;
        font-size: 2.6vw;
        letter-spacing: 1.8vw;
      }
    }
  }
}
