{%
  set classes = [
    'layout',
    'layout--onecol',
  ]
%}
{% if content %}
	<div {{ region_attributes.content.addClass('layout__region', 'layout__region--content') }}>
		{{ content.content }}
	</div>
{% endif %}
