{%
  set classes = [
    'region',
    'region--' ~ region|clean_class,
    'grid-full',
    'layout--pass--content-medium',
    'ie11-autorow',
  ]
%}

{% if content %}
  {# <div{{ attributes.addClass(classes) }}>
    <div class="region--{{ region }}__inner"> #}
      {{ content }}
    {# </div> #}
  </div>
{% endif %}
