@import "./fonts.scss";

@mixin justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin justifyBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin AlignColumnStart {
  display: flex;
  align-items: start;
  flex-direction: column;
}

@mixin AlignColumnCenter {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@mixin JustifyColumnAround {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-between;
}

@mixin JustifyColumnBetween {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: space-around;
}

@mixin text {
  color: white;
  line-height: normal;
  letter-spacing: 8px;
  font-weight: 900;
}

@mixin button {
  background-color: $themeColor;
  padding: 0.625rem 1.25rem;
  top: 60%;
}

@mixin fieldSubtitle {
  font-size: 4rem;
  white-space: pre-wrap;
  word-wrap: break-word;
}

@mixin fieldImage {
  width: 100%;
  margin: 0;
  border-top: 17.5px solid $themeColor;
  border-bottom: 17.5px solid $themeColor;
}

@mixin contentContainer {
  position: absolute;
  top: 25%;
  left: 10%;
  z-index: 3;
}

//variables that are not fonts:
$boxWidth: 48.125rem;
$left: 10%;
