@mixin justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin justifyBetween {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin text {
  color: white;
  line-height: normal;
  letter-spacing: 8px;
  font-weight: 900;
}

@mixin button {
  background-color: #050e23;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
