@import "./fonts.scss";

@mixin justifyCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin justifyAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin justifyBetween {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@mixin text {
  color: white;
  line-height: normal;
  letter-spacing: 8px;
  font-weight: 900;
}

@mixin button {
  background-color: $themeColor;
  padding: 0.625rem 1.25rem;
}

//variables that are not fonts:

$boxWidth: 48.125rem;
$left: 10%;
